.form-container {
  display: flex;
  margin: 0 auto;
}

.form-container img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

body {
  background-image: url("./background.jpg");
  background-size: contain;
  padding: 20px;
}
